.about-content {
  padding-right: 5%;
  padding-left: 5%;
  min-height: 80vh;
  @include flex(row, center, center);
  h2 {
    text-shadow: -0.2rem 0px 0px #d035dd;
    font-size: $heading2;
    color: $teal;
    padding: 1rem;
    text-align: center;
  }
  section {
    border: solid $teal;
    height: 55rem;
    width: 65rem;
    box-shadow: -0.2rem 0.2rem 0px #d035dd;
  }
}

.contact-section {
  margin: auto 2rem auto 2rem;
}

.about-section {
  margin: auto 2rem auto 2rem;
  overflow-y: auto;
  padding: 2.5%;
  @include flex(column, flex-start, center);
  h3 {
    color: $teal;
    text-shadow: -0.1rem 0px 0px #d035dd;
    font-size: $heading3;
  }
  .bio,
  .skills,
  .languages {
    width: 100%;
    margin-bottom: 15px;
    p {
      padding-top: 5px;
      font-size: $normal-font;
      color: $text-color;
    }
  }
}

.about-section::-webkit-scrollbar {
  width: 8px;
}
.about-section::-webkit-scrollbar-track {
  background: #cf35dd4b;
}
.about-section::-webkit-scrollbar-thumb {
  background: #a42cafc7;
}
.about-section::-webkit-scrollbar-thumb:hover {
  background: #a42caf;
}

.profile {
  margin-bottom: 15px;
  width: 100%;
  @include flex(row, flex-start, flex-start);
  .profile-img {
    height: 20rem;
  }
}
.profile-details {
  @include flex(column, center, flex-start);
  a {
    font-size: $normal-font;
    color: $text-color;
    text-decoration: underline;
  }
}

.skills-list {
  padding-top: 5px;
  font-size: $normal-font;
  color: $text-color;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

// Form
#form-control {
  @include flex(column, space-between, center);
  input,
  textarea {
    color: $text-color;
    background: transparent;
    width: 90%;
    padding-top: 10px;
    padding-bottom: 2.5px;
    border: none;
    border-bottom: solid $teal;
    margin-bottom: 1rem;
    font-family: "Main";
    font-size: $form-font;
    &:focus {
      outline: none;
    }
  }
  button {
    width: 90%;
    padding: 1rem;
    background: transparent;
    font-family: "Main";
    font-size: $button-font;
    color: $teal;
    border: solid 2px $teal;
    box-shadow: -0.2rem 0.2rem 0px #d035dd;
    text-shadow: -0.1rem 0rem 0px #d035dd;
    cursor: pointer;
  }
}

@media screen and (max-width: 1200px) {
  .about-content {
    flex-wrap: wrap;
  }
  .about-section {
    margin-bottom: 4rem;
  }
  .contact-section {
    margin-bottom: 1rem;
  }
}
