* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Fonts
@font-face {
  font-family: "Main";
  src: url("/fonts/DM_Mono/DMMono-Regular.ttf");
}

@font-face {
  font-family: "Nav";
  src: url("/fonts/Share_Tech_Mono/ShareTechMono-Regular.ttf");
}

// Font Size Variables
$heading1: 4.8rem;
$heading2: 2.8rem;
$heading3: 2rem;
$button-font: 2.4rem;
$normal-font: 1.6rem;
$form-font: 2rem;

// Color Variables
$teal: #53f3b0;
$shadow-color: #d035dd;
$text-color: #f5f5b5;

// Mixins
@mixin flex($direction, $justify: flex-start, $align: flex-start) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

html {
  font-size: 62.5%;
  font-family: "Main", "sans-serif";
}

body {
  height: 100vh;
  background: linear-gradient(#150316, #320536);
}

.background-svg {
  position: fixed;
  z-index: -5;
}

#matrix-1 path {
  animation: matrix-1 1s ease-in-out alternate infinite;
}
#matrix-2 path {
  animation: matrix-2 1s ease-in-out alternate infinite;
}

nav {
  height: 10vh;
  width: 100vw;
  @include flex(row, center, center);
  a {
    // border: solid;
    width: 100%;
    text-align: center;
    color: $teal;
    margin: auto 5rem;
    font-family: "Nav";
    font-size: 3rem;
    text-shadow: -0.1rem 0px 0px #d035dd;
  }
}
a {
  text-decoration: none;
}
.active {
  text-decoration: underline;
}

footer {
  height: 10vh;
  width: 100vw;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
  @include flex(row, $align: center);
  .socials {
    flex: 1 1 4rem;
    @include flex(row, space-between);
  }
  .social-svg {
    &:hover {
      path {
        fill: #2a9969;
        transition: all 0.25s ease;
      }
    }
  }
  .copyright {
    text-align: right;
    flex: 8 1 4rem;
    color: $teal;
    font-size: $button-font;
    text-shadow: -0.1rem 0px 0px #d035dd;
  }
}

// Animations

@keyframes matrix-1 {
  from {
    fill-opacity: 0.9;
  }
  to {
    fill-opacity: 0.1;
  }
}

@keyframes matrix-2 {
  from {
    fill-opacity: 0.21;
  }
  to {
    fill-opacity: 0.8;
    fill: #f7eff8;
  }
}

// Media Queries
@media screen and (max-width: 1040px) {
  footer {
    padding: 1rem;
    @include flex(column, space-around, center);
    .socials {
      flex: 1 1 1rem;
      width: 90%;
      @include flex(row, space-around);
    }
    .copyright {
      text-align: center;
      flex: 1 1 1rem;
      padding: 1rem;
    }
  }
}

@media screen and (max-width: 800px) {
  html {
    font-size: 55%;
  }
  .social-svg {
    width: 50%;
  }
}

@media screen and (max-width: 450px) {
  footer {
    padding-top: 20px;
  }
  html {
    font-size: 40%;
  }
  .social-svg {
    width: 25%;
  }
  .work-details {
    width: 100%;
  }
}

@media screen and (min-width: 1920px) {
  .background-svg {
    width: 100vw;
    height: 100vh;
  }
}
