.homepage-content {
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
  height: 80vh;
  @include flex(column, center, center);
  h1 {
    text-shadow: -0.2rem 0px 0px #d035dd;
    font-size: $heading1;
    color: $teal;
    margin-bottom: 6rem;
  }
  a {
    font-size: $button-font;
    color: $text-color;
    text-shadow: -0.1rem 0px 0px #d035dd;
  }
}
